.navbar{
  background-color: rgb(142, 202, 230)
}

.navbar .navbar-brand{
  color: rgb(2, 48, 71) !important;
  font-weight: bold;
}
 

.navbar .nav-item{
  color: rgb(2, 48, 71) !important;
  padding-left: 3rem !important;
}

.products{
  
  border: 0;
}

.drop-menu{
  
  border: 0;
  margin-bottom: 1rem !important;
}

.cartIcon{
font-size: 1.5rem;

color: rgb(2, 48, 71) !important;
}

.number-icon{
  background-color: #FB8500;
}

.active{
  color: violet;
}